[submodule "imgur/deps/requests"]
	path = imgur/deps/requests
	url = https://github.com/kennethreitz/requests.git
[submodule "imgur/deps/pyimgur"]
	path = imgur/deps/pyimgur
	url = https://github.com/Damgaard/PyImgur.git
[submodule "dropbox/deps/urllib3"]
	path = dropbox/deps/urllib3
	url = https://github.com/shazow/urllib3
[submodule "sftp/deps/python-ecdsa"]
	path = sftp/deps/python-ecdsa
	url = https://github.com/warner/python-ecdsa
[submodule "sftp/deps/paramiko"]
	path = sftp/deps/paramiko
	url = https://github.com/paramiko/paramiko
[submodule "dropbox/modules/dropbox-sdk-python"]
	path = dropbox/deps/dropbox-sdk-python
	url = https://github.com/dropbox/dropbox-sdk-python.git
[submodule "dropbox/deps/python-six"]
	path = dropbox/deps/python-six
	url = https://github.com/JioCloud/python-six.git
[submodule "dropbox/deps/requests"]
	path = dropbox/deps/requests
	url = https://github.com/kennethreitz/requests.git
[submodule "dropbox/deps/pkg_resources"]
	path = dropbox/deps/pkg_resources
	url = https://github.com/pypa/pkg_resources
